a {
  color: #00B7FF;
}
.big{
	height: 400px;
	margin-top: 10%;
	border: black 5px solid;

}
.rotateText{
	transform: rotate(90deg);
	transform-origin: left top 0;
}
img{
	width: 100%;
	height: 100%;
}
.authorImg{
	max-width: 250px;
	max-height: 250px;
}
.tip{
	z-index: 1;
}
.author{
	height:300px;
}
.bio{
	max-height: 200px;
	overflow: scroll;
}
.name{
	font-size: 32px;
	color: teal;
}
