<main class="row">
		<section>
			<div ng-repeat="author in view.authors" class="list">
			<div class="row author">
				<div class="container-fluid">
					<div class="col s6">
							<img class='authorImg' src="{{author.imgurl}}" alt="" />
					</div>
					<div class="col s6">
						<div class="row">
							<div class="name col s12"><strong>{{author.Fname}} {{author.Lname}}</strong></div>
						</div>
						<div class="row"><div class="bio">{{author.bio}}</div></div>
					</div>
				</div>
			</div>
			</div>
		</section>
</main>
